@model TestMatrixAdmin.Models.Section1

<!-- Entrada para código dactilar -->

<div id="fingerprint-input" class="mt-4">
    <label for="fingerprintCode" class="control-label">Código dactilar *</label>
    @* <input id="fingerprintCode" name="fingerprintCode" type="text" class="form-control"> *@
    @Html.TextBoxFor(mbox => mbox.FingerprintCode, "", new { id = "fingerprintCode", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.FingerprintCode, "", new { @class = "text-danger" })
</div>

<div id="contact-options" class="mt-4" style="display:none">

    <!-- Opciones de contacto -->
    <label>Celular o correo registrado en el Banco</label>
    <div class="form-check">
        @* <input class="form-check-input" type="radio" name="contactOption" id="phoneOption" value="phone"> *@
        @Html.RadioButtonFor(m => m.ContactOption, "phone", new { id = "phoneOption", @class = "form-check-input" })
        <label class="form-check-label" for="phoneOption">Celular</label>
    </div>
    <div class="form-check">
        @* <input class="form-check-input" type="radio" name="contactOption" id="emailOption" value="email"> *@
        @Html.RadioButtonFor(m => m.ContactOption, "email", new { id = "emailOption", @class = "form-check-input" })
        <label class="form-check-label" for="emailOption">Correo electrónico</label>
    </div>
    @Html.ValidationMessageFor(m => m.ContactOption, "", new { @class = "text-danger" })
</div>

<!-- Entrada para teléfono -->
<div id="phone-input" class="mt-4" style="display: none;">
    <div class="form-group">
        <label for="phoneNumber" class="control-label">Ingresa tu número celular</label>
        @* <input id="phoneNumber" name="phoneNumber" type="text" class="form-control"> *@
        @Html.TextBoxFor(mbox => mbox.PhoneNumber, new { id = "phone", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })

    </div>
</div>

<!-- Entradas para correo electrónico -->
<div id="email-inputs" class="mt-4" style="display: none;">
    <div class="form-group">
        <label for="email" class="control-label">Ingresa tu correo electrónico</label>
        @* <input id="email" name="email" type="email" class="form-control"> *@
        @Html.TextBoxFor(mbox => mbox.Email, new { id = "email", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label for="emailConfirm" class="control-label">Confirma tu correo electrónico</label>
        @* <input id="emailConfirm" name="emailConfirm" type="email" class="form-control"> *@
        @Html.TextBoxFor(mbox => mbox.EmailConfirm, new { id = "emailConfirm", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.EmailConfirm, "", new { @class = "text-danger" })
    </div>
</div>


<script>


    $(function () {
        $('input[type=radio][name=ContactOption]').change(function () {

            if ($(this).val() === 'phone') {
                $('#email-inputs').hide();
                $('#phone-input').show();
                $('input[name="Email"]').val('');
                $('input[name="EmailConfirm"]').val('');


            }
            else if ($(this).val() === 'email') {
                $('#phone-input').hide();
                $('#email-inputs').show();
                $('input[name="PhoneNumber"]').val('');
            }
        });

        $('input[type=radio][name=ContactOption]:checked').change();


    });


    $('#fingerprintCode').on('keyup', function () {
        var fingerprintCode = $(this).val();
        var cedula = $('#IdNumber').val();
        if (fingerprintCode.length == 10) {
            $.ajax({
                url: '@Url.Action("CheckFingerPrint", "AdminMatrix")',
                type: 'POST',
                data: {
                    cedula: cedula,
                    fingerprint: fingerprintCode
                },
                success: function (response) {
                    if (response.isFingerPrintValid) {
                        $('#contact-options').show();
                    } else {
                        alert("Código dactilar no  válido");
                        $('#contact-options').hide();
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error al verificar el código dactilar: ", status, error);
                    $('#contact-options').hide();
                }
            });
        } else {
            $('#contact-options').hide();
        }
    });



</script>
